.asciiArt {
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
  line-height: 1;
  letter-spacing: 5px;
}

.Picture-container {
  display: flex;
  justify-content: center;
}

