:root {
  --main-text-color: #ffffffde;
  --main-bg-color: linear-gradient(to bottom, #959595 0%,#636161 15%,#464343 30%,#222121 45%,#464343 60%,#636161 75%,#959595 100%);
}

html, body {
  margin: 0;
  padding: 0;
  font-synthesis: none;
  font-family: monospace;
  color: var(--main-text-color);
  color-scheme: light dark;
  background: var(--main-bg-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
