// animation: [nom de l'animation] [durée de l'animation] [fonction de timing] [délai avant le début] [nombre de fois] [direction] [mode de remplissage] [état de lecture];
@import "./gameboy.less";
@import "./variables.less";

.switch {
  position: absolute;
  width: 14px;
  height: 5px;
  background: @switch;
  border-radius: 20px 20px 0 0;
  top: -200px;
  left: -85px;
  background-image: linear-gradient(
    46deg,
    @switchDark,
    @switchLight 95% 99%,
    transparent
  );
  cursor: pointer;
  transition: all 0.3s ease;
}

.switch-on {
  position: absolute;
  left: -75px;
}

.hidden {
  visibility: hidden;
}

.animate-fall-left {
  opacity: 0;
  animation: fall-left 3s ease-out;
}

.animate-fall-right {
  opacity: 0;
  animation: fall-right 3s ease-out;
}

.animate-rise {
  opacity: 0;
  animation: rise 3s ease-out;
}

/* Style for the selected menu option */
.selected {
  position: relative;
  left: -13px;
  content: "";
  color: @screenOnDark;
  font-size: 10px;
  font-family: "DOS", monospace;
  margin-right: 5px;
}

/* Styles for menu titles */
.menu-title,
.menu-footer {
  width: 100%;
  height: 20%;
  background-color: @textBrand;
  color: @screenOnLight;
  font-size: 14px;
  font-family: "DOS", monospace;
  font-weight: bold;
  padding: 2px;
}

.glass-screen-matrix-on {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: @screenOnLight;
  color: @screenOnDark;
  font-family: "Early", sans-serif;
  box-shadow: none;
  border: @b 0.5px solid;
  animation: screenOn 1s ease-out;
}

.glass-screen-matrix-on::selection {
  background-color: linear-gradient(to right, @screenOnDark, @screenOnLight);
  color: linear-gradient(to top, @screenOnLight, @screenOnDark);
}

.glass-screen-matrix-on ul {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  cursor: pointer;
  font-size: 5px;
  width: 100%;
  height: 100%;
}

.glass-screen-matrix-on ul li.selected::before {
  content: "";
  position: absolute;
  color: @screenOnDark;
  font-size: 18px;
  margin-left: -15px;

  font-family: "DOS", monospace;
  animation: none;
}

.glass-screen-matrix-on ul li {
  position: relative;
}

.glass-screen-matrix-on ul li.selected span {
  white-space: nowrap;
  margin-right: 10px;
  font-size: 12px;
  animation: blinking 1.5s infinite;
}
