.gameboy-container {
  .flex-center();
  position: relative;
  background-image: @bg-image;
  min-height: 100vh;
  padding: 10vh 0;
}

.gameboy {
  .flex-center(flex, column);
  position: relative;
  z-index: 1;

  .console {
    position: relative;
    top: 0px;
    left: 0px;
    width: @allW;
    height: calc(636px * 1.8);
    border-radius: 24.24px 24.24px 168.96px 24.24px;
    background: @gameboyColor;
    background-repeat: repeat;
    overflow: hidden;
    box-shadow:
      -7.45px 0px 9.93px 0px white inset,
      -2.48px -12.42px 19.87px 0px #010101 inset,
      14.9px 0 17.39px 0px #808080 inset,
      0 9.93px 2.48px white inset,
      0 86.96px 49.69px -4.96px rgba(0, 0, 0, 0.08),
      -49.69px 44.72px 49.69px 49.69px #00000082,
      -37.27px 49.69px 49.69px 49.69px rgba(0, 0, 0, 0.477);
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: @gameboyColorGresille;
      opacity: 0.04;
      z-index: -1;
    }

    .big-horizontal-line {
      filter: blur(0.3px);
      background-image: linear-gradient(
        @offOnBorderTop,
        @lineMiddle,
        @lineBottom
      );
      position: relative;
      height: 9.93px;
      margin-left: 49.69px;
      margin-right: 49.69px;
      top: 49.69px;
    }

    .big-horizontal-line::before,
    .big-horizontal-line::after {
      filter: blur(0.1px);
      content: "";
      position: absolute;
      top: 0;
      height: 9.93px;
      width: 223.63px;
      background-image: linear-gradient(
        @offOnBorderTop,
        @lineMiddle,
        @lineBottom
      );
      overflow: visible;
    }

    .big-horizontal-line::before {
      left: -49.69px;
      border-top-left-radius: 14.9px;
    }

    .big-horizontal-line::after {
      right: -49.69px;
      border-top-right-radius: 14.9px;
    }

    .small-R-vertical-line,
    .small-L-vertical-line {
      filter: blur(0.25px);
      top: -0.3px;
      width: 9.93px;
      height: 53.24px;
      position: absolute;
      background-image: linear-gradient(
        to left,
        @offOnBorderTop,
        @lineMiddle,
        @lineBottom
      );
      z-index: 10;
    }

    .small-L-vertical-line {
      left: 52.2px;
    }

    .small-R-vertical-line {
      right: 52.2px;
    }

    .off-on {
      position: relative;
      left: 12%;
      &-container {
        cursor: pointer;
        .flex-center();
        z-index: 10;
        transform: translate(0, 0);
        top: 12.42px;
        width: 144.12px;
        height: 29.81px;
        position: absolute;
        border-radius: 124.24px;
        font-family: @lavigne;
        font-size: 19.87px;
        letter-spacing: 2.48px;
        color: @w;
        border-top: 2.48px @offOnBorderTop solid;
        border-bottom: 3.72px @offOnBorderBottom solid;
        filter: blur(0.25px);
        text-shadow:
          1.24px -1.24px 2.48px @offOnText,
          1.24px 1.24px 2.48px @offOnText,
          1.24px 1.24px 2.48px @offOnText,
          -1.24px 1.24px 2.48px @offOnText;
        box-shadow:
          -2.48px -4.96px 7.45px @offOnBoxBottom inset,
          0px 4.96px 7.45px 0px @offOnBoxTop inset;
      }
    }

    .line-container-top {
      position: relative;
      left: 2%;
      z-index: 10;

      .line {
        position: absolute;
        width: 7px;
        height: 17px;
        top: -2.48px;
        background-image: linear-gradient(
          to left,
          @offOnBorderTop,
          @lineMiddle,
          @lineBottom
        );
        border-right: 0.62px @offOnBorderTop solid;
        border-left: 1.24px @w solid;
        z-index: 10;
        filter: blur(0.3px);
        transform: translate(0, 0);

        &:nth-child(1) {
          left: 24.84px;
        }
        &:nth-child(2) {
          left: 12.42px;
        }
        &:nth-child(3) {
          left: 0px;
        }
      }
    }

    .glass-screen {
      top: -20px;
      width: 556.6px;
      height: 424.9px;
      background: @glass;
      margin: 100px 0px 0px 55px;
      position: relative;
      border-radius: 24.84px 24.84px 89.45px 24.84px;
      box-shadow:
        inset -7.45px 7.45px 4.96px #544f60,
        inset -14.9px 14.9px 4.96px -22.36px #1b1b1b,
        inset -17.39px 2.48px 7.45px -7.45px #d8d5d5,
        0px -3px 2px #858585;

      .battery-text {
        color: @textGColor;
        filter: blur(0.15px);
        font-size: 14.9px;
        font-family: @lavigne;
        transform: scaleX(1.5);
        position: absolute;
        z-index: 10;
        display: inline-block;
        margin-left: -253.45px;
        margin-top: 186.36px;
      }

      .text-indication {
        .indicator-light {
          position: absolute;
          top: 154.06px;
          left: 32.3px;
          width: 17.39px;
          height: 17.39px;
          border-radius: 50px;
          background: #4d150a;
        }
        .indicator-light-on {
          animation: batteryOn 1s ease-out forwards;
          border: @batteryOff 1.73px solid;
        }
      }

      .dot-matrix {
        position: absolute;
        padding: 2.48px;
        top: 14.9px;
        left: 30%;
        width: 298.18px;
        background: @glass;
        color: @textGColor;
        font-size: 21.12px;
        font-family: @lavigne;
        text-align: center;
        transform: scale(1.05, 0.8);
      }

      &-line {
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
        &-l {
          height: 3.97px;
          width: 521.81px;
          background: @topLineScreen;
          margin-bottom: 3.23px;
          &:nth-child(2) {
            height: 3.97px;
            background: @bottomLineScreen;
          }
        }
      }

      &-matrix {
        position: relative;
        width: 360.3px;
        height: 323.03px;
        background-color: @screenOff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4.96px;
        box-shadow:
          -19.87px 4.96px 9.93px #212009 inset,
          -24.84px 0px 12.42px -2.48px #815f0e inset,
          14.9px -12.42px 49.69px #815f0e inset;
        overflow: hidden;
        color: @screenOnDark;
      }
    }

    .pad {
      position: relative;
      left: 23.5%;
      top: 22%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 186.36px;
      height: 186.36px;

      &-v {
        .flex-center();
        width: 59.63px;
        height: 166.48px;
        background: @padBody;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 7.45px;
      }
      &-h {
        width: 166.48px;
        height: 59.63px;
        background: @padBody;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 7.45px;
      }

      &-v-btn {
        .flex-center(flex, column, space-around);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 49.69px;
        height: 151.57px;
        border-radius: 7.45px;
        background: @pad;
        box-shadow:
          0px 0px 0px 0px @pad inset,
          -0.5px 1px 1px 0.5px @padReflect inset;
        filter: blur(0.25px);

        &-grips {
          width: 37.27px;
          height: 12.42px;
          position: relative;
          background: @pad;
          border-radius: 124.24px;
          border-right: 0.62px @padReflect solid;
          border-top: 0.62px @padReflect solid;
          filter: blur(0.25px);
        }
      }

      &-h-btn {
        .flex-center(flex, row, space-around);
        width: 151.57px;
        height: 49.69px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 7.45px;
        background: @pad;
        box-shadow:
          0px -1px 0px 0px @pad inset,
          -0.5px 0.5px 0.5px 1px @padReflect inset;
        filter: blur(0.25px);
        &-grips {
          width: 12.42px;
          height: 37.27px;
          border-radius: 124.24px;
          background: @pad;
          border-right: 0.62px @padReflect solid;
          border-top: 0.62px @padReflect solid;
          filter: blur(0.25px);
        }
      }

      &-center {
        .flex-center();
        width: 49.69px;
        height: 49.69px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 7.45px;
        box-shadow:
          inset 0px 0px 30px 0px @pad,
          inset 0px 0px 30px 0px @pad;

        &-cir {
          width: 44.72px;
          height: 44.72px;
          border-radius: 50%;
          background: @pad;
          filter: blur(0.25px);
          position: relative;
          box-shadow:
            0px 0px 8px 0px @pad inset,
            0px 0px 1px 0px @reflectDark inset;

          &::after,
          &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            filter: blur(0.25px);
          }

          &::before {
            background: @padReflect;
            width: 12.42px;
            height: 17.39px;
            left: 70%;
            top: 30%;
            filter: blur(1px);
          }

          &::after {
            width: 7.45px;
            height: 7.45px;
            background: @padReflect;
            left: 20%;
            top: 50%;
            filter: blur(1px);
          }
        }
      }

      .pad-up,
      .pad-down,
      .pad-left,
      .pad-right {
        position: absolute;
        color: @w;
        font-size: 14.9px;
        text-shadow:
          0.5px -0.5px 1px @offOnText,
          0.5px 0.5px 1px @offOnText,
          0.5px 0.5px 1px @offOnText,
          -0.5px 0.5px 1px @offOnText;
      }

      &-up {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%) scaleX(1.5);
      }
      &-down {
        bottom: -8%;
        left: 50%;
        transform: translate(-50%, -50%) scaleX(1.5);
      }
      &-left {
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%) scaleY(1.5);
      }
      &-right {
        top: 50%;
        right: -4%;
        transform: translate(-50%, -50%) scaleY(1.5);
      }
    }

    .control-area {
      width: 110%;
      height: 110%;
      position: absolute;
      top: -9.93px;
      left: -9.93px;
      right: 0;
      bottom: 0;
      z-index: -1;
      overflow: visible;
      background: transparent;
    }

    .control-area::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 124.24px;
      background: linear-gradient(
        to bottom,
        rgba(172, 172, 171, 0.4) 0%,
        rgba(234, 232, 228, 0.4) 50%,
        rgba(229, 229, 229, 0.4) 100%
      );
      z-index: 10;
    }

    .controlP {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 62.12px;
      height: 62.12px;
      cursor: pointer;
      user-select: none;
    }

    .up {
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }

    .down {
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }

    .left {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    .right {
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    .brand {
      .flex-center(flex, row, flex-end);
      padding: 17.39px 0px;
      position: absolute;
      top: 505px;
      left: 79.51px;
      gap: 12.42px;
      color: @textBrand;
      font-weight: bold;

      .nintendo {
        font-family: @pretendo;
        font-size: 26.33px;
        letter-spacing: 1.24px;
        align-self: center;
      }

      .GAME_BOY {
        font-family: @gillItalic;
        font-size: 50.19px;
        letter-spacing: -1.24px;
        margin-top: auto;
      }

      .TM {
        font-size: 17.39px;
        font-family: @gill;
        align-self: center;
        margin-left: -7.45px;
        margin-top: 7.45px;
      }
    }

    .BA-btn-text-container {
      transform: rotate(@rotateBtn);
      position: absolute;
      right: 20px;
      top: 737px;
      width: 243.51px;
      height: 111.81px;
      box-sizing: border-box;
      z-index: 10;
    }

    .BA-btn-container {
      width: 243.51px;
      height: 111.81px;
      border-radius: 50px;
      background: linear-gradient(
        to bottom,
        rgba(172, 172, 171, 0.4) 0%,
        rgba(234, 232, 228, 0.4) 50%,
        rgba(229, 229, 229, 0.4) 100%
      );
      overflow: visible;
      position: relative;
    }

    .BA-btn-container-B,
    .BA-btn-container-A {
      height: 82px;
      width: 82px;
      transform: rotate(@rotateReflect);
      border-radius: 50%;
      background: linear-gradient(to bottom, #b30f42 0%, #640116 100%);
      border-top: 4px solid #d74f73;
      position: absolute;
      top: 16px;
      cursor: pointer;
      box-shadow:
        0px 6px 5px 3px rgba(0, 0, 0, 0.8),
        inset 0 4.96px 14.9px -4.96px rgba(255, 255, 255, 0.8);
      overflow: visible;
    }

    .BA-btn-container-B::after,
    .BA-btn-container-A::after {
      content: "";
      position: absolute;
      top: 0;
      right: 20px;
      bottom: 60px;
      left: 20px;
      box-shadow: inset 0 19.87px 0px -9.93px rgba(255, 255, 255, 0.4);
      border-radius: 100%;
      z-index: 1;
    }

    .BA-btn-container-B {
      left: 16px;
    }

    .BA-btn-container-A {
      right: 16px;
    }

    .BA-btn-container-text {
      position: absolute;
      bottom: -25px;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    .BA-btn-container-text-B,
    .BA-btn-container-text-A {
      height: 18px;
      width: 18px;
      position: relative;
      font-size: 22px;
      font-family: "Labo", sans-serif;
      color: @textBrand;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      pointer-events: none;
    }

    .control-btn {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .controlB {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 124.24px;
      height: 124.24px;
      cursor: pointer;
      user-select: none;
    }

    .btn-B {
      border-radius: 50px;
      top: 54.66px;
      transform: translateY(-50%);
      left: -4.96px;
    }

    .btn-A {
      border-radius: 50px;
      top: 60px;
      transform: translateY(-50%);
      right: 0px;
    }

    .menu {
      .flex-center(flex, row, space-around);
      width: 223.63px;
      position: absolute;
      left: 201.27px;
      bottom: 198.78px;
      font-family: "Labo", sans-serif;
      letter-spacing: 2.48px;

      .menu-select,
      .menu-start {
        .rotation(@rotateText);
        text-align: center;
        z-index: 10;

        .select,
        .start {
          position: absolute;
          font-size: 17.39px;
          letter-spacing: -0.25px;
          color: @textBrand;
          cursor: pointer;
        }

        .select {
          left: -4.97px;
          top: 44.72px;
          transform: scale(1.3, 1);
        }

        .start {
          left: 0;
          top: 44.73px;
          transform: scale(1.5, 1);
        }
      }
      &-container {
        .flex-center();
        width: 99.39px;
        height: 42.24px;
        border-radius: 50px;
        overflow: hidden;
        box-shadow:
          12.42px -12.42px 7.45px @menuBtnLight inset,
          -19.87px 17.39px 7.45px 0px @padReflect inset;
        filter: blur(0.25px);

        &-btn {
          cursor: pointer;
          width: 79.51px;
          height: 22.36px;
          border: #000 2.48px solid;
          border-radius: 50px;
          background: #605f5d;
          box-shadow:
            2.48px -9.93px 2.48px 0px @menu inset,
            0px 19.87px 2.48px @menuLight inset,
            0px 19.87px 0px -39.75px @menuDark,
            0 0 0 -4.96px @menuDark,
            0px 0px 2.48px 2.48px @menuDark,
            2.48px 4.96px 4.96px -2.48px @menu;
        }
      }
    }

    .control-menu {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .control {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 74.54px;
      height: 74.54px;
      cursor: pointer;
      user-select: none;
    }

    .select {
      width: 109.33px;
      height: 109.33px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    .start {
      width: 109.33px;
      height: 109.33px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    .speaker {
      .flex-center(flex, row, space-between);
      width: 203.27px;
      height: 159.03px;
      bottom: 28.84px;
      position: absolute;
      right: 46.33px;
      .rotation(@rotateText);

      &-corner {
        width: 500px;
        height: 149.09px;
        position: absolute;
        top: 64.6px;
        left: -223.63px;
        opacity: 0.5;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          top: 12.42px;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            to top,
            @gameboyColorDark 85%,
            @gameboyColor 15%
          );

          filter: blur(2px);
          z-index: 10;
        }
      }

      &-line {
        width: 17px;
        height: 105px;
        bottom: 6px;
        border-right: 2.32px @g solid;
        filter: blur(0.25px);
        border-radius: 50px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
        border-left: 2.42px solid rgba(255, 255, 255, 0.6);
        box-shadow: inset 2px -20px 3px 2px rgba(0, 0, 0, 0.55);
        position: relative;
        overflow: hidden;

        &::after {
          position: absolute;
          content: "";
          width: 12.42px;
          height: 79.51px;
          background: @speakerDark;
          border-radius: 50px;
          top: 0px;
          left: -8.5px;
        }
        &:first-child::after {
          background: none;
        }
      }
    }

    .phones {
      position: relative;
      width: 124.24px;
      height: 49.69px;
      bottom: -384.48px;
      left: 243.51px;
      z-index: 10;
      &-sound {
        .flex-center();
        position: relative;
        width: 109.33px;
        height: 24.84px;
        border-radius: 50px;
        font-family: @lavigne;
        text-shadow:
          0px 1px 0px @offOnText,
          1px 2px 2px @offOnText;
        box-shadow:
          1px 2px 0px @offOnBoxBottom inset,
          -3px -2px 0px 0px @offOnBoxTop inset;
        border-top: 2.48px @offOnBorderTop solid;
        border-bottom: 2.48px @offOnBorderBottom solid;
        filter: blur(0.25px);
        font-size: 14.9px;
        letter-spacing: 3.72px;
        color: @phoneText;
        background: @gameboyColor;
        overflow: hidden;
        z-index: 10;
      }

      .line-container-bottom {
        position: relative;
        left: 42%;

        .line {
          position: absolute;
          width: 8.69px;
          height: 29.81px;
          top: -2.48px;
          background-image: linear-gradient(
            to left,
            @offOnBorderTop,
            @lineMiddle,
            @lineBottom
          );
          border-right: 0.62px @offOnBorderTop solid;
          border-left: 1.24px @w solid;
          border-top: transparent;
          z-index: 10;
          filter: blur(0.3px);
          transform: translate(0, 0);

          &:nth-child(1) {
            left: 24.84px;
          }
          &:nth-child(2) {
            left: 12.42px;
          }
          &:nth-child(3) {
            left: 0px;
          }
        }
      }
    }
  }
}
