.gameboy-container {
  background-image: @bg-image;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  padding: 10vh 0;
}

.gameboy {
  border-radius: 0 0 20px 0;
  position: relative;
  width: @allW;
  height: calc(@allW * 1.65);
  background: linear-gradient(145deg, @reflectLight, @reflectDark, #fff0);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .switch {
    width: 14px;
    height: 6px;
    background: @switch;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: -2px;
    left: 35px;
    background-image: linear-gradient(
      0deg,
      @switchDark,
      @switchLight 95% 99%,
      transparent
    );
    // Animation du switch
    animation: switchOn;
    animation-duration: 1s;
    animation-delay: 1s;
  }

  .console {
    width: @allW;
    height: calc(@allW * 1.85);
    border-radius: 10px 10px 65px 10px;
    background: @gameboyColor;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(
        90deg,
        @lineDark,
        transparent 6% 95%,
        @lineLight 98% 99%,
        transparent
      ),
      linear-gradient(
        0deg,
        @reflect,
        transparent 1% 97%,
        @lineLight 99% 99%,
        transparent,
        @lineDark
      );
    box-shadow:
      -3px 0px 5px 0px #fcfef9 inset,
      -8px 0px 4px 0px #fcfef9 inset,
      6px 0 3px 1px #969494 inset,
      0 3px 3px #fcfef9 inset,
      0 35px 20px -2px rgba(0, 0, 0, 0.08),
      0 55px 50px -5px rgba(0, 0, 0, 0.05);

    .big-horizontal-line {
      background-image: linear-gradient(@lineTop, @lineMiddle, @lineBottom);
      position: relative;
      height: 4px;
      margin-left: 20px;
      margin-right: 20px;
      top: 20px;
    }

    .big-horizontal-line::before,
    .big-horizontal-line::after {
      content: "";
      position: absolute;
      top: 0;
      height: 4px;
      width: 20px;
      background-image: linear-gradient(@lineTop, @lineMiddle, @lineBottom);
      overflow: visible;
    }

    .big-horizontal-line::before {
      left: -20px;
      border-top-left-radius: 5px;
    }

    .big-horizontal-line::after {
      right: -20px;
      border-top-right-radius: 5px;
    }

    .small-R-vertical-line,
    .small-L-vertical-line {
      top: 0;
      width: 4px;
      height: 24px;
      position: absolute;
      background-image: linear-gradient(
        to left,
        @lineTop,
        @lineMiddle,
        @lineBottom
      );
    }

    .small-R-vertical-line {
      left: 20px;
    }

    .small-L-vertical-line {
      right: 20px;
    }

    .off-on {
      &-container {
        .flex-center();
        width: 58px;
        height: 12px;
        position: absolute;
        left: 30px;
        top: 5px;
        border-radius: 50px;
        font-family: @lavigne;
        font-size: 8px;
        letter-spacing: 1px;
        color: @w;
        border-top: 1px @offOnBorderTop solid;
        border-bottom: 1px @offOnBorderBottom solid;
        text-shadow:
          0.5px -0.5px 1px @offOnText,
          0.5px 0.5px 1px @offOnText,
          0.5px 0.5px 1px @offOnText,
          -0.5px 0.5px 1px @offOnText;
        box-shadow:
          -1px 2px 1px @offOnBoxBottom inset,
          0px -1px 1px 0px @offOnBoxTop inset;
      }

      &-line {
        position: absolute;
        width: 3px;
        height: 12px;
        left: 35px;
        background: linear-gradient(to left, @lineDark, @lineLight, @lineDark);

        &:nth-child(1) {
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:nth-child(2) {
          left: calc(50% - 15px);
          transform: translateY(-50%);
        }

        &:nth-child(3) {
          left: calc(50% + 15px);
          transform: translateY(-50%);
        }
      }
    }

    .glass-screen {
      width: 224px;
      height: 171px;
      background: @glass;
      margin: 32px auto;
      position: relative;
      border-radius: 10px 10px 36px 10px;
      box-shadow:
        inset -3px 3px 2px #544f60,
        inset -6px 6px 2px -9px #1b1b1b,
        inset -7px 1px 3px -3px #d8d5d5,
        0px -2px 1px #858585;

      .battery-text {
        color: @textGColor;
        font-size: 5px;
        font-family: @lavigne;
        transform: scaleX(1.5);
        position: absolute;
        z-index: 10;
        display: inline-block;
        margin-left: -100px;
        margin-top: 75px;
      }

      .text-indication {
        .indicator-light {
          position: absolute;
          top: 62px;
          left: 13px;
          width: 7px;
          height: 7px;
          border-radius: 50px;
          background: #f74f2f;

          animation: batteryOn 5s;
          animation-duration: 1s;
          animation-delay: 1s;
        }
      }

      .dot-matrix {
        position: absolute;
        padding: 1px;
        top: 8.5px;
        left: 32%;
        width: 120px;
        background: @glass;
        color: @textGColor;
        font-size: 8.5px;
        font-family: @lavigne;
        text-align: center;
        transform: scaleY(0.8);
      }

      &-line {
        position: absolute;
        top: 14px;
        left: 50%;
        transform: translate(-50%, -50%);
        &-l {
          height: 1.6px;
          width: 210px;
          background: @topLineScreen;
          margin-bottom: 1.3px;
          &:nth-child(2) {
            height: 1.6px;
            background: @bottomLineScreen;
          }
        }
      }

      &-matrix {
        position: relative;
        width: 142px;
        height: 129px;
        background-color: @screenOff;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2px;
        box-shadow:
          -8px 2px 4px #212009 inset,
          -10px 0px 5px -1px #815f0e inset,
          6px -5px 20px #815f0e inset;
        overflow: hidden;

        .falling-title-L,
        .falling-title-R,
        .rising-title {
          position: absolute;
          color: #1a6770;
          font-family: "Gidugu", sans-serif;
          font-size: 18px;
          text-align: center;
        }

        .falling-title-L {
          top: 50%;
          left: 0;
          animation: fall-left 3s ease-out forwards;
        }

        .falling-title-R {
          top: 50%;
          left: 127px;
          animation: fall-right 3s ease-out forwards;
        }

        .rising-title {
          top: 49.9%;
          left: 43%;
          bottom: 0;
          animation: rise 3s ease-out forwards;
        }
      }
    }

    .cross {
      &-v {
        width: 24px;
        height: 67px;
        background: @menuBtnShadow;
        position: absolute;
        left: 43px;
        top: 265px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-h {
        width: 67px;
        height: 24px;
        background: @menuBtnShadow;
        position: absolute;
        left: 21px;
        top: 286px;
        border-radius: 3px;
      }

      &-v-btn {
        position: absolute;
        left: 45px;
        top: 268px;
        width: 20px;
        height: 61px;
        border-radius: 3px;
        background: @menuBtn;
        box-shadow:
          -1px 0px 2px 0px @menuBtnLight inset,
          2px -4px 2px @menuBtnDark inset,
          -9px 0px 3px 0px rgba(0, 0, 0, 0.08),
          -9px 0px 5px 0px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &-grips {
          width: 70%;
          height: 5px;
          background: @menuBtn;
          box-shadow:
            -1px 0px 2px 0px @menuBtnLight inset,
            2px -2px 2px @menuBtnDark inset;
        }
      }

      &-h-btn {
        width: 61px;
        height: 20px;
        position: absolute;
        left: 24px;
        top: 288px;
        border-radius: 3px;
        background: @menuBtn;
        box-shadow:
          -1px 0px 2px 0px @menuBtnLight inset,
          2px -4px 2px @menuBtnDark inset,
          -9px 0px 3px 0px rgba(0, 0, 0, 0.08),
          -9px 0px 5px 0px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-grips {
          width: 5px;
          height: 65%;
          background: @menuBtn;
          box-shadow:
            -1px 1px 1px @menuBtnLight inset,
            1px -1px 1px @menuBtnDark inset;
        }
      }

      &-center {
        width: 20px;
        height: 20px;
        background: @menuBtn;
        position: absolute;
        left: 45px;
        top: 288px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-cir {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          box-shadow:
            -2px 2px 5px @menuBtnDark inset,
            2px -4px 5px @menuBtnLight inset;
        }
      }
    }

    .brand {
      padding: 7px 0px;
      position: absolute;
      top: 212px;
      left: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 2px;
      color: @textBrand;
      font-weight: bold;

      .nintendo {
        font-family: @pretendo;
        font-size: 9px;
        letter-spacing: 0.5px;
        align-self: center;
      }

      .GAME_BOY {
        font-family: @gillItalic;
        font-size: 20px;
        letter-spacing: -0.5px;
        margin-top: auto;
      }

      .TM {
        font-size: 6px;
        font-family: @gill;
        align-self: center;
      }
    }

    .BA-btn-container {
      position: absolute;
      left: 160px;
      top: 280px;
      transform: rotate(@rotate);

      .pink-btn {
        .flex-around();
        width: 94px;
        height: 43px;
        border-radius: 50px;
        box-shadow:
          0px 0px 5px @gameboyColor inset,
          0px 0px 5px @BtnDark inset;
        overflow: hidden;

        &-B,
        &-A {
          width: 33px;
          height: 33px;
          background: @pinkBtn;
          border-radius: 50px;
          box-shadow:
            4px 0px 5px @pinkBtnDark inset,
            -3px -1px 4px @pinkBtnLight inset,
            -1px -2px 2px -1px @pinkBtnTransform,
            -1px 2px 2px -1px @pinkBtnTransform,
            0px -2px 2px -1px @pinkBtnTransform,
            -3px 0px 2px -1px @b;
        }
      }

      .BA-btn-container-label {
        .flex-around();
        margin-top: 0px;
        width: 94px;
        font-weight: 6;
        font-family: @labo;
        color: @textBrand;
        .a,
        .b {
          font-size: 10px;
        }
      }
    }

    .menu {
      .flex-around();
      width: 90px;
      position: absolute;
      left: 77px;
      bottom: 50px;
      font-family: "Labo", sans-serif;
      letter-spacing: 1px;

      .menu-select,
      .menu-start {
        transform: rotate(@rotate);
        text-align: center;

        .select,
        .start {
          font-size: 7px;
          letter-spacing: -0.1px;
          color: @textBrand;
        }
      }
      &-container {
        .flex-center();
        width: 40px;
        height: 17px;
        border-radius: 50px;
        overflow: hidden;
        background: radial-gradient(circle, @BtnDark, @gameboyColor);

        &-btn {
          width: 32px;
          height: 9px;
          border: #000 1px solid;
          border-radius: 50px;
          background: @g;
          box-shadow:
            1px -4px 1px 0px @menuBtn inset,
            0px 8px 1px @menuBtnLight inset,
            0px 8px 0px -16px @menuBtnDark,
            0 0 0 -2px @menuBtnDark,
            0px 0px 1px 1px @menuBtnDark,
            1px 2px 2px -1px @menuBtnShadow;
        }
      }
    }

    .speaker {
      .flex-between();
      width: 63px;
      position: absolute;
      right: 18px;
      bottom: 18px;
      transform: rotate(@rotate);

      &-corner {
        width: 180px;
        height: 60px;
        position: absolute;
        top: 26px;
        left: -90px;
        opacity: 0.5;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            to top,
            @reflectLight 90%,
            @gameboyColor 10%
          );

          filter: blur(2px);
          z-index: -1;
        }
      }

      &-line {
        width: 6px;
        height: 38px;
        border-left: 1px @offOnBorderBottom solid;
        border-right: 1px @offOnBorderTop solid;
        border-radius: 50px;
        background: linear-gradient(to left, #595959, #c6c6c4), @speaker;
        position: relative;
        overflow: hidden;

        &::after {
          position: absolute;
          content: "";
          width: 5px;
          height: 35px;
          background: @speakerDark;
          border-radius: 50px;
          top: 0px;
          left: -4px;
        }
        &:first-child::after {
          background: none;
        }
      }
    }

    .phones {
      position: relative;
      width: 50px;
      height: 20px;
      top: 179px;
      left: 102px;
      z-index: 10;
      &-sound {
        .flex-center();
        position: relative;
        width: 44px;
        height: 10px;
        border-radius: 50px;
        font-family: @lavigne;
        border-top: 1px @offOnBorderTop solid;
        border-bottom: 1px @offOnBorderBottom solid;
        text-shadow:
          0.5px -0.5px 1px @offOnText,
          0.5px 0.5px 1px @offOnText,
          0.5px 0.5px 1px @offOnText,
          -0.5px 0.5px 1px @offOnText;
        box-shadow:
          -1px 2px 1px #bcbcbc inset,
          0px -1px 1px 0px #a5a5a5 inset;

        font-size: 6px;
        letter-spacing: 1.5px;
        color: @w;
        background: @gameboyColor;

        overflow: hidden;
        z-index: 9;
      }
    }
  }
}
