.gameboy-container {
  .flex-center();
  position: relative;
  background-image: @bg-image;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  padding: 10vh 0;
}

.gameboy {
  .flex-center(flex, column);
  position: absolute;

  .console {
    position: relative;
    top: -196px;
    left: -125px;
    width: @allW;
    height: calc(@allW * 1.8);
    border-radius: 10px 10px 68px 10px;
    background: @gameboyColor;
    overflow: hidden;
    background-image: linear-gradient(
        90deg,
        @lineDark,
        transparent 6% 95%,
        @lineLight 98% 99%,
        transparent
      ),
      linear-gradient(
        0deg,
        @reflect,
        transparent 1% 97%,
        @lineLight 99% 99%,
        transparent,
        @lineDark
      );
    box-shadow:
      -3px 0px 4px 0px white inset,
      -1px -5px 8px 0px #010101 inset,
      6px 0 7px 0px #808080 inset,
      0 4px 1px white inset,
      0 35px 20px -2px rgba(0, 0, 0, 0.08),
      -20px 18px 20px 20px #00000082,
      -15px 20px 20px 20px rgba(0, 0, 0, 0.477);

    .big-horizontal-line {
      filter: blur(0.3px);
      background-image: linear-gradient(
        @offOnBorderTop,
        @lineMiddle,
        @lineBottom
      );
      position: relative;
      height: 4px;
      margin-left: 20px;
      margin-right: 20px;
      top: 20px;
    }

    .big-horizontal-line::before,
    .big-horizontal-line::after {
      filter: blur(0.1px);
      content: "";
      position: absolute;
      top: 0;
      height: 4px;
      width: 90px;
      background-image: linear-gradient(
        @offOnBorderTop,
        @lineMiddle,
        @lineBottom
      );
      overflow: visible;
    }

    .big-horizontal-line::before {
      left: -20px;
      border-top-left-radius: 6px;
    }

    .big-horizontal-line::after {
      right: -20px;
      border-top-right-radius: 6px;
    }

    .small-R-vertical-line,
    .small-L-vertical-line {
      filter: blur(0.25px);
      top: 3.5px;
      width: 4px;
      height: 17px;
      position: absolute;
      background-image: linear-gradient(
        to left,
        @offOnBorderTop,
        @lineMiddle,
        @lineBottom
      );
      border-bottom: transparent;
      z-index: 9;
    }

    .small-L-vertical-line {
      left: 21px;
    }

    .small-R-vertical-line {
      right: 15px;
    }

    .off-on {
      position: relative;
      left: 12%;
      &-container {
        cursor: pointer;
        .flex-center();
        z-index: 2;
        transform: translate(0, 0);
        top: 5px;
        width: 58px;
        height: 12px;
        position: absolute;
        border-radius: 50px;
        font-family: @lavigne;
        font-size: 8px;
        letter-spacing: 1px;
        color: @w;
        border-top: 1px @offOnBorderTop solid;
        border-bottom: 1.5px @offOnBorderBottom solid;
        filter: blur(0.25px);
        text-shadow:
          0.5px -0.5px 1px @offOnText,
          0.5px 0.5px 1px @offOnText,
          0.5px 0.5px 1px @offOnText,
          -0.5px 0.5px 1px @offOnText;
        box-shadow:
          -1px -2px 3px @offOnBoxBottom inset,
          0px 2px 3px 0px @offOnBoxTop inset;
      }
    }

    .line-container-top {
      position: relative;
      left: 2%;
      z-index: 6;

      .line {
        position: absolute;
        width: 3.5px;
        height: 6px;
        top: -1px;
        background: linear-gradient(to top, @gameboyColor, @offOnBoxBottom);
        border-right: 0.25px @offOnBorderTop solid;
        border-left: 0.5px @w solid;
        z-index: 9;
        filter: blur(0.3px);
        transform: translate(0, 0);

        &:nth-child(1) {
          left: 10px;
        }
        &:nth-child(2) {
          left: 5px;
        }
        &:nth-child(3) {
          left: 0px;
        }
      }
    }

    .glass-screen {
      width: 224px;
      height: 171px;
      background: @glass;
      margin: 41px 0px 0px 22px;
      position: relative;
      border-radius: 10px 10px 36px 10px;
      box-shadow:
        inset -3px 3px 2px #544f60,
        inset -6px 6px 2px -9px #1b1b1b,
        inset -7px 1px 3px -3px #d8d5d5,
        0px -2px 1px #858585;

      .battery-text {
        color: @textGColor;
        filter: blur(0.15px);
        font-size: 6px;
        font-family: @lavigne;
        transform: scaleX(1.5);
        position: absolute;
        z-index: 10;
        display: inline-block;
        margin-left: -102px;
        margin-top: 75px;
      }

      .text-indication {
        .indicator-light {
          position: absolute;
          top: 62px;
          left: 13px;
          width: 7px;
          height: 7px;
          border-radius: 50px;
          background: #4d150a;
        }
        .indicator-light-on {
          animation: batteryOn 1s ease-out forwards;
        }
      }

      .dot-matrix {
        position: absolute;
        padding: 1px;
        top: 6px;
        left: 30%;
        width: 120px;
        background: @glass;
        color: @textGColor;
        font-size: 8.5px;
        font-family: @lavigne;
        text-align: center;
        transform: scale(1.05, 0.8);
      }

      &-line {
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
        &-l {
          height: 1.6px;
          width: 210px;
          background: @topLineScreen;
          margin-bottom: 1.3px;
          &:nth-child(2) {
            height: 1.6px;
            background: @bottomLineScreen;
          }
        }
      }

      &-matrix {
        position: relative;
        width: 145px;
        height: 130px;
        background-color: @screenOff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2px;
        box-shadow:
          -8px 2px 4px #212009 inset,
          -10px 0px 5px -1px #815f0e inset,
          6px -5px 20px #815f0e inset;
        overflow: hidden;
        color: @screenOnDark;
      }
    }

    .pad {
      position: relative;
      left: 23.5%;
      top: 22%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 75px;

      &-v {
        .flex-center();
        width: 24px;
        height: 67px;
        background: @padBody;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
      }
      &-h {
        width: 67px;
        height: 24px;
        background: @padBody;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
      }

      &-v-btn {
        .flex-center(flex, column, space-around);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 61px;
        border-radius: 3px;
        background: @pad;
        box-shadow:
          0px 0px 0px 0px @pad inset,
          -0.5px 1px 1px 0.5px @padReflect inset;
        filter: blur(0.25px);

        &-grips {
          width: 15px;
          height: 5px;
          position: relative;
          background: @pad;
          border-radius: 50px;
          border-right: 0.25px @padReflect solid;
          border-top: 0.25px @padReflect solid;
          filter: blur(0.25px);
        }
      }

      &-h-btn {
        .flex-center(flex, row, space-around);
        width: 61px;
        height: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        background: @pad;
        box-shadow:
          0px -1px 0px 0px @pad inset,
          -0.5px 0.5px 0.5px 1px @padReflect inset;
        filter: blur(0.25px);
        &-grips {
          width: 5px;
          height: 15px;
          border-radius: 50px;
          background: @pad;
          border-right: 0.25px @padReflect solid;
          border-top: 0.25px @padReflect solid;
          filter: blur(0.25px);
        }
      }

      &-center {
        .flex-center();
        width: 20px;
        height: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        box-shadow:
          inset 0px 0px 30px 0px @pad,
          inset 0px 0px 30px 0px @pad;

        &-cir {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background: @pad;
          filter: blur(0.25px);
          position: relative;
          box-shadow:
            0px 0px 8px 0px @pad inset,
            0px 0px 1px 0px @reflectDark inset;

          &::after,
          &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            filter: blur(0.25px);
          }

          &::before {
            background: @padReflect;
            width: 5px;
            height: 7px;
            left: 70%;
            top: 30%;
            filter: blur(1px);
          }

          &::after {
            width: 3px;
            height: 3px;
            background: @padReflect;
            left: 20%;
            top: 50%;
            filter: blur(1px);
          }
        }
      }

      .pad-up,
      .pad-down,
      .pad-left,
      .pad-right {
        position: absolute;
        color: @w;
        font-size: 6px;
        text-shadow:
          0.5px -0.5px 1px @offOnText,
          0.5px 0.5px 1px @offOnText,
          0.5px 0.5px 1px @offOnText,
          -0.5px 0.5px 1px @offOnText;
      }

      &-up {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%) scaleX(1.5);
      }
      &-down {
        bottom: -8%;
        left: 50%;
        transform: translate(-50%, -50%) scaleX(1.5);
      }
      &-left {
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%) scaleY(1.5);
      }
      &-right {
        top: 50%;
        right: -4%;
        transform: translate(-50%, -50%) scaleY(1.5);
      }
    }

    .control-area {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .control {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
      user-select: none;
    }

    .up {
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }

    .down {
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }

    .left {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    .right {
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    .brand {
      .flex-center(flex, row, flex-end);
      padding: 7px 0px;
      position: absolute;
      top: 225px;
      left: 32px;
      gap: 2px;
      color: @textBrand;
      font-weight: bold;

      .nintendo {
        font-family: @pretendo;
        font-size: 10.6px;
        letter-spacing: 0.5px;
        align-self: center;
      }

      .GAME_BOY {
        font-family: @gillItalic;
        font-size: 20.2px;
        letter-spacing: -0.5px;
        margin-top: auto;
      }

      .TM {
        font-size: 7px;
        font-family: @gill;
        align-self: center;
        margin-left: -3px;
        margin-top: 3px;
      }
    }

    .BA-btn-container {
      .rotation(@rotateBtn);
      position: absolute;
      left: 161px;
      top: 299px;
      height: 50px;
      width: 109px;

      .pink-btn {
        .flex-center(flex, row, space-around);
        width: 98px;
        height: 45px;
        border-radius: 50px;
        box-shadow:
          0px 0px 5px @gameboyColor inset,
          0px 0px 5px @BtnDark inset;
        overflow: hidden;

        &-B,
        &-A {
          width: 33px;
          height: 33px;
          background: @pinkBtn;
          border-radius: 50px;
          box-shadow:
            1px -1px 2px @pinkBtnDark inset,
            -2px 0px 2px @pinkBtnLight inset,
            -1px -2px 2px -1px @pinkBtnTransform,
            -1px 2px 2px -1px @pinkBtnTransform,
            0px -2px 2px -1px @pinkBtnTransform,
            -3px 0px 2px -1px @b;
          cursor: pointer;
        }
      }

      .BA-btn-container-label {
        .flex-center(flex, row, space-around);
        position: relative;
        margin-top: 0px;
        width: 94px;
        left: 2px;
        font-weight: 6;
        font-family: @labo;
        color: @textBrand;
        .a,
        .b {
          font-size: 10px;
        }
      }
    }

    .menu {
      .flex-center(flex, row, space-around);
      width: 90px;
      position: absolute;
      left: 81px;
      bottom: 80px;
      font-family: "Labo", sans-serif;
      letter-spacing: 1px;

      .menu-select,
      .menu-start {
        .rotation(@rotateText);
        text-align: center;

        .select,
        .start {
          position: absolute;
          font-size: 7px;
          letter-spacing: -0.1px;
          color: @textBrand;
          cursor: pointer;
        }

        .select {
          left: 5px;
          top: 18px;
          transform: scale(1.3, 1);
        }

        .start {
          left: 8px;
          top: 17px;
          transform: scale(1.5, 1);
        }
      }
      &-container {
        .flex-center();
        width: 40px;
        height: 17px;
        border-radius: 50px;
        overflow: hidden;
        box-shadow:
          5px -5px 3px @menuBtnLight inset,
          -8px 7px 3px 0px @padReflect inset;
        filter: blur(0.25px);

        &-btn {
          cursor: pointer;
          width: 32px;
          height: 9px;
          border: #000 1px solid;
          border-radius: 50px;
          background: #605f5d;
          box-shadow:
            1px -4px 1px 0px @menu inset,
            0px 8px 1px @menuLight inset,
            0px 8px 0px -16px @menuDark,
            0 0 0 -2px @menuDark,
            0px 0px 1px 1px @menuDark,
            1px 2px 2px -1px @menu;
        }
      }
    }

    .speaker {
      .flex-center(flex, row, space-between);
      width: 81px;
      height: 64px;
      bottom: 10px;
      position: absolute;
      right: 11px;
      .rotation(@rotateSpeaker);

      &-corner {
        width: 180px;
        height: 60px;
        position: absolute;
        top: 26px;
        left: -90px;
        opacity: 0.5;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          top: 5px;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            to top,
            @gameboyColorDark 85%,
            @gameboyColor 15%
          );

          filter: blur(2px);
          z-index: -1;
        }
      }

      &-line {
        width: 6px;
        height: 42px;
        bottom: 2px;
        border-left: 1px @w solid;
        border-right: 1px @g solid;
        filter: blur(0.25px);
        border-radius: 50px;
        background: linear-gradient(to left, #595959, #c6c6c4), @speaker;
        position: relative;
        overflow: hidden;

        &::after {
          position: absolute;
          content: "";
          width: 5px;
          height: 32px;
          background: @speakerDark;
          border-radius: 50px;
          top: 0px;
          left: -3.5px;
        }
        &:first-child::after {
          background: none;
        }
      }
    }

    .phones {
      position: relative;
      width: 50px;
      height: 20px;
      bottom: -166px;
      left: 98px;
      z-index: 10;
      &-sound {
        .flex-center();
        position: relative;
        width: 44px;
        height: 10px;
        border-radius: 50px;
        font-family: @lavigne;
        text-shadow:
          0.5px -0.5px 1px @offOnText,
          0.5px 0.5px 1px @offOnText,
          0.5px 0.5px 1px @offOnText,
          -0.5px 0.5px 1px @offOnText;
        box-shadow:
          -1px -2px 3px @offOnBoxBottom inset,
          0px 2px 3px 0px @offOnBoxTop inset;
        border-top: 1px @offOnBorderTop solid;
        border-bottom: 1px @offOnBorderBottom solid;
        filter: blur(0.25px);
        font-size: 6px;
        letter-spacing: 1.5px;
        color: @w;
        background: @gameboyColor;
        overflow: hidden;
        z-index: 9;
      }

      .line-container-bottom {
        position: relative;
        left: 42%;

        .line {
          position: absolute;
          width: 3.5px;
          height: 12px;
          top: -1px;
          background: linear-gradient(to top, @gameboyColor, @offOnBoxBottom);
          border-right: 0.25px @offOnBorderTop solid;
          border-left: 0.5px @w solid;
          border-top: transparent;
          z-index: 9;
          filter: blur(0.3px);
          transform: translate(0, 0);

          &:nth-child(1) {
            left: 10px;
          }
          &:nth-child(2) {
            left: 5px;
          }
          &:nth-child(3) {
            left: 0px;
          }
        }
      }
    }
  }
}
