.overlay {
  .flex-center();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(122, 19, 207, 0.514);
  z-index: 100;
}

.closeButton {
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 15px;
  border: black 1px solid;
  background-color: #f44336;
  color: white;
  font-size: 16px;
}

.glass-screen-modal {
  .flex-center();
  z-index: 101;
  padding: 20px;
  width: 1440px;
  height: 1120px;
  background: @glass;
  margin: 0;
  position: relative;
  border-radius: 10px 10px 36px 10px;
  box-shadow:
    inset -3px 3px 2px #544f60,
    inset -6px 6px 2px -9px #1b1b1b,
    inset -7px 1px 3px -3px #d8d5d5,
    0px -2px 1px #858585;

  .text-indication-modal {
    .battery-text-modal {
      color: @textGColor;
      filter: blur(0.15px);
      font-size: 1rem;
      font-family: @lavigne;
      transform: scaleX(1.5);
      position: absolute;
      z-index: 20;
      display: inline-block;
      margin-left: -3rem;
      margin-top: -5.18rem;
    }
    .indicator-light-modal {
      position: absolute;
      top: 31.13rem;
      left: 64.86px;
      width: 18.16px;
      height: 18.16px;
      border-radius: 129.73px;
      background: @batteryOn;
      z-index: 20;
    }
    .dot-matrix-modal {
      position: absolute;
      padding: 2.59px;
      top: 15.56px;
      left: 30%;
      width: 311px;
      background: @glass;
      color: @textGColor;
      font-size: 48px;
      font-family: @lavigne;
      text-align: center;
      transform: scale(1.05, 0.8);
      z-index: 20;
    }
  }

  &-line {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-l {
      height: 4.15px;
      width: 30rem;
      background: @topLineScreen;
      margin-bottom: 3.37px;
      &:nth-child(2) {
        height: 4.15px;
        background: @bottomLineScreen;
      }
    }
  }

  .glass-screen-matrix-modal {
    .container();
    position: absolute;
    top: 7.78rem;
    position: relative;
    width: 80%;
    height: 80%;
    background-color: @screenOnLight;
    color: @screenOnDark;
    font-family: "Early", sans-serif;

    border: @b 2.59px solid;
    z-index: 20;
  }
}
