/* Style pour le bouton de filtre */
.stippling-btn.active {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #17190e 3px solid;
  background-color: #8c8c37;
  color: #4d4f1f;
  font-size: 15px;
  font-family: "Early", sans-serif;
  text-shadow: 2px 2px 2px black;
  transition: opacity 1s ease;
  opacity: 0.8;
  cursor: pointer;
  width: 14rem;
  height: 3.5rem;
}

/* Style pour le conteneur du filtre avec position relative */
.filter-container {
  position: relative;
  margin-bottom: 20px; /* Ajouter un espace entre les boutons */
}

/* Style pour le menu déroulant */
.filter-options {
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: 100%; /* Place le menu au-dessus du bouton */
  left: 0;
  background-color: #8c8c37;
  border: 3px solid #17190e;
  z-index: 2000;
}

/* Afficher le menu lorsqu'il est actif */
.filter-options.active {
  display: flex;
}

/* Style pour chaque option du menu */
.filter-option {
  background-color: #8c8c37;
  color: #4d4f1f;
  padding: 10px 20px;
  border: 3px solid #17190e;
  text-shadow: 2px 2px 2px black;
  cursor: pointer;
  width: 14rem;
  height: 3.5rem;
  transition: background-color 0.3s ease;
}

/* Style pour une option active */
.filter-option.active {
  background-color: #4d4f1f;
}

/* Ajuster la position du menu déroulant dans le conteneur des filtres */
.filter-selection-btn {
  display: flex;
  position: relative; /* Changer à relative pour permettre un positionnement absolu des enfants */
  gap: 20px;
  bottom: 4%;
  transform: translateX(0%);
  z-index: 2000;
}
