@import "./mixins.less";
@import "./variables.less";
@import "./Glitch.less";

@font-face {
  font-family: "MorePerfectDOSVGA";
  src: url("../fonts/MorePerfectDOSVGA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tangerine";
  src: url("../fonts/Tangerine-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  .grid-center();
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  font-family: monospace;
  color: @main-text-color;
  color-scheme: light dark;
  background: @main-bg-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  background: -webkit-linear-gradient(to right, #524a23, #f3e2aa);
  background: linear-gradient(to right, #524a23, #f3e2aa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Tangerine", "Arial", cursive;
  font-weight: bold;
  font-size: 500%;
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}

.canvas {
  overflow: hidden;
  text-align: center;
  .grid-center();
  white-space: pre;
  font-size: 4px;
  line-height: 1;
  letter-spacing: 0.1px;
  transform: scaleX(1.6);
  width: 185px;
  height: 185px;
  padding: 1px;
  font-family: "MorePerfectDOSVGA", sans-serif;
  background-color: @primary-color;
  color: black;
  border: 0.5px solid #4b4949;
  border-radius: 5%;
  .box-shadow(@black-color);
}

.image-display img {
  max-width: 100%;
  height: auto;
}

.picture-container {
  .grid-center();
  margin: 20px;
  width: 100%;
  height: 100%;
}

.tablet-container {
  .grid-center();
  margin-top: -50px;
}

.tablet {
  margin-top: 50px;
  height: 1500px;
  width: 1600px;
  .grid-center();
  flex-direction: column;
  background-color: @secondary-color;
  padding-bottom: 40px;
  border-radius: 45px;
  .box-shadow(@black-color);
}

.monitor {
  background-color: @tertiary-color;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow:
    0 0 10px @black-color,
    inset 0 0 10px darken(@black-color, 50%);
}

.title {
  .grid-center();
  font-size: 2px;
  font-family: tangerine;
  padding-top: 10px;
}

@media (max-width: 896px) and (max-height: 414px) and (orientation: landscape) {
}

@media (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
}

@media (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
}

@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
}
@media (max-width: 1080px) and (max-height: 1920px) and (orientation: portrait) {
}

@media (max-width: 1920px) and (max-height: 1080px) and (orientation: landscape) {
}

@media (max-width: 1152px) and (max-height: 2048px) and (orientation: portrait) {
}

@media (max-width: 2048px) and (max-height: 1152px) and (orientation: landscape) {
}
