@import "./variables.less";
@import "./mixins.less";
@import "./gameboy.less";
@import "../Glitch.less";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gidugu&family=Merriweather+Sans:ital,wght@0,300;1,300&family=Orbitron&display=swap");

@font-face {
  font-family: "Early";
  src: url("../../fonts/EarlyGameboy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gill-Sans-Italic";
  src: url("../../fonts/Gill-Sans-Medium-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gill-Sans";
  src: url("../../fonts/Gill-Sans") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DOS";
  src: url("../../fonts/MorePerfectDOSVGA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendo";
  src: url("../../fonts/Pretendo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Labo";
  src: url("../../fonts/NintendoLabo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lavigne";
  src: url("../../fonts/Lavigne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  .flex-center();
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.4),
      rgba(128, 0, 128, 0.4),
      rgba(0, 0, 0, 0.1)
    ),
    @bg-image;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-family: monospace;
}

.title-btn {
  position: relative;
  height: 160px;
  padding: 0px 30px;
  background: @title-bg-color;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: @box-shadow;
  font-family: "Tangerine", "Arial", cursive;
  font-size: 7em;
  cursor: pointer;
  transition: background-color 0.3s;
  overflow: hidden;

  &:hover::before {
    background-color: darken(rgba(190, 31, 23, 0.255), 10%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background: transparent;
    z-index: 0;
  }

  .title-text {
    background-image: @text-btn;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    z-index: 1;
    text-shadow: -1.5px -1.5px 1.5px #695a13;
  }
}

.canvas {
  .flex-center();
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 30%;
  overflow: hidden;
}

// TODO
@media (max-width: 896px) and (max-height: 414px) and (orientation: landscape) {
}

// TODO
@media (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
}

// TODO
@media (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
}

// TODO
@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
}

// TODO
@media (max-width: 1080px) and (max-height: 1920px) and (orientation: portrait) {
}

// TODO
@media (max-width: 1920px) and (max-height: 1080px) and (orientation: landscape) {
}

// TODO
@media (max-width: 1152px) and (max-height: 2048px) and (orientation: portrait) {
}

// TODO
@media (max-width: 2048px) and (max-height: 1152px) and (orientation: landscape) {
}
