@import "./variables.less";
@import "./mixins.less";
@import "./button.less";
@import "./loader.less";
@import "./gameboy.less";
@import "./gameboyAnimation.less";
@import "./imageUploadModal.less";
@import "../Glitch.less";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gidugu&family=Merriweather+Sans:ital,wght@0,300;1,300&family=Orbitron&display=swap");

@font-face {
  font-family: "Early";
  src: url("src/fonts/EarlyGameBoy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gill-Sans-Italic";
  src: url("../../fonts/Gill-Sans-Medium-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gill-Sans";
  src: url("src/fonts/Gill-Sans-Medium-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DOS";
  src: url("src/fonts/MorePerfectDOSVGA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendo";
  src: url("src/fonts/Pretendo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Labo";
  src: url("src/fonts/NintendoLabo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lavigne";
  src: url("src/fonts/Lavigne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Back";
  src: url("src/fonts/BTTF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  .flex-center();
  background-image: radial-gradient(
      circle,
      rgba(189, 178, 117, 0.6),
      rgba(144, 115, 182, 0.6),
      rgba(88, 47, 110, 0.6)
    ),
    @bg-image;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

.canvas {
  .flex-center();
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 30%;
  overflow: hidden;
}

// TODO
@media (max-width: 896px) and (max-height: 414px) and (orientation: landscape) {
}

// TODO
@media (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
}

// TODO
@media (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
}

// TODO
@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
}

// TODO
@media (max-width: 1080px) and (max-height: 1920px) and (orientation: portrait) {
}

// TODO
@media (max-width: 1920px) and (max-height: 1080px) and (orientation: landscape) {
}

// TODO
@media (max-width: 1152px) and (max-height: 2048px) and (orientation: portrait) {
}

// TODO
@media (max-width: 2048px) and (max-height: 1152px) and (orientation: landscape) {
}
