.loader-container {
  .flex-center();
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

.loader-bar {
  display: inline-block;
  width: 5px;
  height: 10px;
  margin: 2.5px 1px;
  border-radius: 4px;
  animation: scale-up4 1s linear infinite;
}

.loader-bar:nth-child(2) {
  width: 10px;
  height: 20px;
  margin: 2.5px 2px;
  animation-delay: 0.05s;
}

.loader-bar:nth-child(3) {
  width: 15px;
  height: 40px;
  margin: 2.5px 3px;
  animation-delay: 0.1s;
}

.loader-bar:nth-child(4) {
  width: 20px;
  height: 70px;
  margin: 2px 4px;
  animation-delay: 0.15s;
}

.loader-bar:nth-child(5) {
  width: 30px;
  height: 140px;
  margin: 2.5px 5px;
  animation-delay: 0.2s;
}

.loader-bar:nth-child(6) {
  width: 20px;
  height: 70px;
  margin: 2.5px 4px;
  animation-delay: 0.25s;
}

.loader-bar:nth-child(7) {
  width: 15px;
  height: 40px;
  margin: 2.5px 3px;
  animation-delay: 0.3s;
}

.loader-bar:nth-child(8) {
  width: 10px;
  height: 20px;
  margin: 2.5px 2px;
  animation-delay: 0.35s;
}

.loader-bar:nth-child(9) {
  width: 5px;
  height: 10px;
  margin: 2.5px 1px;
  animation-delay: 0.4s;
}

@keyframes scale-up4 {
  20% {
    background: linear-gradient(to top, #b8a3af87, #5353542e, #b8a3af87);
    transform: scaleY(2);
  }

  40% {
    transform: scaleY(2);
  }
}
