.box-shadow(@color) {
  box-shadow:
    0px 0px 15px @color,
    inset 5px 5px 10px darken(@color, 10%),
    inset -5px -5px 10px lighten(@color, 10%),
    inset 5px -5px 10px lighten(@color, 10%),
    inset -5px 5px 10px darken(@color, 10%);
}

.grid-center(@justify: center, @align: center) {
  display: grid;
  justify-items: @justify;
  align-items: @align;
}

.rotation(@deg) {
  transform: rotate(@deg);
}

.transition(@property, @duration: 300ms, @ease: ease) {
  transition: @property @duration @ease;
}

.box-shadow(@x, @y, @blur, @spread, @color) {
  box-shadow: @x @y @blur @spread @color;
}
