.box-shadow(@color) {
  box-shadow:
    0px 0px 15px @color,
    inset 5px 5px 10px darken(@color, 10%),
    inset -5px -5px 10px lighten(@color, 10%),
    inset 5px -5px 10px lighten(@color, 10%),
    inset -5px 5px 10px darken(@color, 10%);
}

.container(@display: flex, @justify: center, @align: center, @direction: column, @width: 19px, @height: 9px) {
  display: @display;
  justify-content: @justify;
  align-items: @align;
  flex-direction: @direction;
  width: @width;
  height: @height;
}

.grid-container(@rows: 3, @cols: 3, @rowGap: 10px, @colGap: 10px) {
  display: grid;
  grid-template-rows: repeat(@rows, 1fr);
  grid-template-columns: repeat(@cols, 1fr);
  grid-gap: @rowGap @colGap;
}

.flex-center(@display: flex, @direction: row, @justifyContent: center, @alignItems: center, @textAlign: center) {
  display: @display;
  flex-direction: @direction;
  justify-content: @justifyContent;
  align-items: @alignItems;
  text-align: @textAlign;
}

.rotation(@deg) {
  transform: rotate(@deg);
}

.transition(@property, @duration: 300ms, @ease: ease) {
  transition: @property @duration @ease;
}

.box-shadow(@x, @y, @blur, @spread, @color) {
  box-shadow: @x @y @blur @spread @color;
}
