@text-btn: linear-gradient(90deg, #e0a735, #f7e062, #876624);

@bg-image: url("src/assets/brick-black.jpg");

@gillItalic: "Gill-Sans-Italic", sans-serif;
@gill: "Gill-Sans", sans-serif;
@early: "Early", sans-serif;
@labo: "Labo", sans-serif;
@pretendo: "Pretendo", sans-serif;
@merriweather: "Merriweather", sans-serif;
@lavigne: "Lavigne", sans-serif;
@back: "Back", sans-serif;

@allW: 665px;

@rotateContainerBtn: -24.5deg;
@rotateBtn: 270deg;
@rotateReflect: 159deg;
@rotateSpeaker: -31deg;
@rotateText: -27deg;

@b: black;
@w: white;
@g: #808080;
@s: #fdf9c8;
@gLight: #a2a1a1;

@offOnText: #8d8d8d8e;
@offOnBoxTop: #a5a5a5;
@offOnBoxBottom: #bcbcbc;
@offOnBorderBottom: #fefefe;
@offOnBorderTop: #878787;

@pad: #232325;
@padReflect: #b0b0b3;
@padBody: #000000;

@reflectDark: #969494;

@gameboyColor: rgb(209, 209, 209);
@gameboyColorGresille: url("../../assets/background-grésillé.png");

@gameboyColorDark: #7e7e8b;

@BtnLight: #e8e7e6;
@BtnDark: #a0a09f;

@controlArea: white;

@textBrand: #303390;
@reliefColor: #cfcfcf;

@bottomLineScreen: @textBrand;
@topLineScreen: @pinkBtnDark;
@textGColor: #d8d7e1;

@line: #dbd5ce;
@lineLight: #cccccc;
@lineDark: #b7b7b7;
@lineTop: #888787;
@lineMiddle: #cccccc;
@lineBottom: #b7b7b7;

@phoneText: #ffffff00;

@glass: #6b6d7b;

@glassDark: #939098;

@screenOnLight: #acb043;
@screenOnMiddle: #8c8c37;
@screenOnDark: #66682a;
@screenOnOutline: #17190e;
@screenOff: #815f0e;
@screenOffLight: #aa5600;
@screenOffDark: #212009;

@pinkBtn: #b30f42;
@pinkBtnLight: #d74f73;
@pinkBtnDark: #640116;
@pinkBtnShadow: rgb(13 1 1);
@pinkBtnReflect: #f4f3f3a1;

@menuBtnLight: #ffffff;
@menuBtnDark: #605f5d;

@speakerLight: rgba(218, 217, 217, 0.4);
@speakerDark: #1a0b0a;
@speakerCorner: rgba(246, 240, 237, 0.6);

@menu: #50465c;
@menuLight: #878092;
@menuDark: #5a5465;

@batteryOn: #ff404a;
@batteryOff: #4d150a;

@keyframes batteryOn {
  0% {
    background: @batteryOff;
  }
  100% {
    background: @batteryOn;
  }
}

@keyframes screenOn {
  0% {
    background: @screenOnLight;
  }
  100% {
    background: @screenOff;
  }
}

@keyframes switchOn {
  from {
    left: -90px;
  }
  to {
    left: -75px;
  }
}

@keyframes fall-left {
  0% {
    opacity: 0;
    transform: translateY(-300%) translateX(96px);
  }
  30% {
    opacity: 1;
    transform: translateY(-10%) translateX(96px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10%) translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10%) translateX(40px);
  }
}

@keyframes fall-right {
  0% {
    opacity: 0;
    transform: translateY(-300%) translateX(-78px);
  }
  30% {
    opacity: 1;
    transform: translateY(-10%) translateX(-78px);
  }
  60% {
    opacity: 0;
    transform: translateY(-10%) translateX(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10%) translateX(-300px);
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  50% {
    opacity: 1;
    transform: translateY(-16%) translateX(-25px);
  }
  60% {
    opacity: 1;
    transform: translateY(-16%) translateX(-25px);
  }
  100% {
    opacity: 0;
    transform: translateY(-16%) translateX(-25px);
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
