@bgApp: url("src/assets/brick-black.jpg");
@bgMenu: url("src/assets/brique-menu.png");
@bgModal: url("src/assets/photo.jpg");
@gameboyColorGresille: url("../../assets/background-grésillé.png");
@gameboyColor: rgb(209, 209, 209);
@gameboyOverlay: rgba(209, 209, 209, 0.5);

@gillItalic: "Gill-Sans-Italic", sans-serif;
@gill: "Gill-Sans", sans-serif;
@early: "Early", sans-serif;
@labo: "Labo", sans-serif;
@pretendo: "Pretendo", sans-serif;
@merriweather: "Merriweather", sans-serif;
@lavigne: "Lavigne", sans-serif;
@back: "Back", sans-serif;

@allW: 665px;

// rotate
@containerBtn: -28deg;
@btn: 270deg;
@reflectA: 172deg;
@reflectB: 170deg;
@speaker: -31deg;
@text: -27deg;
@textBtn: 357deg;

// colors basic
@b: black;
@bLight: rgb(31, 31, 31);
@w: white;
@g: #808080;
@gf: #343333;
@s: #fdf9c8;
@gLight: #a2a1a1;
@gL: @glass;
@r: @pinkBtnDark;
@pk: @batteryOn;
@p: purple;
@pf: rgb(56, 0, 56);
@glow: #9041ff;
@bl: #1fadc3;
@bf: @textBrand;
@bv: @sliderCtn;
@v: rgb(30, 255, 1);
@vl: rgb(105, 220, 90);

// glass screen modal
@filterOptionActive: @bl;
@sliderCtn: #1d555dd6;

// glass screen
@textBrand: #303390;
@reliefColor: #cfcfcf;

@bottomLineScreen: @textBrand;
@topLineScreen: @pinkBtnDark;
@textGColor: #d8d7e1;

@BtnLight: #e8e7e6;
@BtnDark: #a0a09f;

@batteryOn: #ff004c;
@batteryOff: #4d150a;

@but: #c2c2c2;

@controlArea: white;

@gameboyColorDark: #7e7e8b;

@glass: #6b6d7b;

@glassDark: #4d4f5f;
@glassLight: #939098;

@line: #dbd5ce;
@lineLight: #cccccc;
@lineDark: #b7b7b7;
@lineTop: #888787;
@lineMiddle: #cccccc;
@lineBottom: #b7b7b7;

@menuBtnLight: #ffffff;
@menuBtnDark: #605f5d;

@menu: #50465c;
@menuLight: #878092;
@menuDark: #5a5465;

@offOnText: #8d8d8d8e;
@offOnBoxTop: #a5a5a5;
@offOnBoxBottom: #bcbcbc;
@offOnBorderBottom: #fefefe;
@offOnBorderTop: #878787;

@phoneText: #ffffff00;

@pad: #232325;
@padReflect: #b0b0b365;
@padBody: #000000;

@pinkBtn: #6e2940;
@pinkBtnLight: #d74f73;
@pinkBtnDark: #640116;
@pinkBtnShadow: rgb(13 1 1);
@pinkBtnReflect: #f4f3f37d;

@reflectDark: #969494;
@removeBtn: #db2424;
@removeBtnHover: #dc1414;

@screenOnLight: #acb043;
@screenOnMiddle: #8c8c37;
@screenOnDark: #66682a;
@screenOnUltraDark: #4d4f1f;
@screenOnOutline: #17190e;
@screenOff: #815f0e;
@screenOffLight: #aa5600;
@screenOffDark: #212009;

@speakerLight: rgba(218, 217, 217, 0.4);
@speakerDark: #1a0b0a;
@speakerCorner: rgba(246, 240, 237, 0.6);

@keyframes batteryOn {
  0% {
    background: @batteryOff;
  }
  100% {
    background: @batteryOn;
  }
}

@keyframes screenOn {
  0% {
    background: @screenOnLight;
  }
  100% {
    background: @screenOff;
  }
}

@keyframes switchOn {
  from {
    left: -90px;
  }
  to {
    left: -75px;
  }
}

@keyframes fall-left {
  0% {
    opacity: 0;
    transform: translateY(-300%) translateX(96px);
  }
  30% {
    opacity: 1;
    transform: translateY(-10%) translateX(96px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10%) translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10%) translateX(40px);
  }
}

@keyframes fall-right {
  0% {
    opacity: 0;
    transform: translateY(-300%) translateX(-78px);
  }
  30% {
    opacity: 1;
    transform: translateY(-10%) translateX(-78px);
  }
  60% {
    opacity: 0;
    transform: translateY(-10%) translateX(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10%) translateX(-300px);
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  50% {
    opacity: 1;
    transform: translateY(-16%) translateX(-25px);
  }
  60% {
    opacity: 1;
    transform: translateY(-16%) translateX(-25px);
  }
  100% {
    opacity: 0;
    transform: translateY(-16%) translateX(-25px);
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  6% {
    opacity: 0.45;
    text-shadow:
      2px 2px 5px @glow,
      0 0 10px @glow,
      0 0 15px @glow,
      0 0 25px @glow,
      0 0 35px @glow;
  }
  7% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.4;
  }
  15% {
    opacity: 0.3;
  }
  16% {
    opacity: 0.55;
  }
  17% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.3;
  }
  26% {
    opacity: 0.65;
  }
  27% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.4;
  }
  31% {
    opacity: 0.75;
    text-shadow:
      2px 2px 5px @glow,
      0 0 10px @glow,
      0 0 15px @glow,
      0 0 25px @glow,
      0 0 35px @glow;
  }
  32% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.5;
  }
  36% {
    opacity: 0.35;
  }
  37% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.6;
  }
  45% {
    opacity: 0.5;
    text-shadow:
      2px 2px 5px @glow,
      0 0 10px @glow,
      0 0 15px @glow,
      0 0 25px @glow,
      0 0 35px @glow;
  }
  46% {
    opacity: 0.55;
  }
  47% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.4;
    text-shadow:
      2px 2px 5px @glow,
      0 0 10px @glow,
      0 0 15px @glow,
      0 0 25px @glow,
      0 0 35px @glow;
  }
  55% {
    opacity: 0.5;
  }
  56% {
    opacity: 0.45;
  }
  57% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  65% {
    opacity: 0.3;
  }
  66% {
    opacity: 0.65;
    text-shadow:
      2px 2px 5px @glow,
      0 0 10px @glow,
      0 0 15px @glow,
      0 0 25px @glow,
      0 0 35px @glow;
  }
  67% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  76% {
    opacity: 0.55;
  }
  77% {
    opacity: 0.5;
    text-shadow:
      2px 2px 5px @glow,
      0 0 10px @glow,
      0 0 15px @glow,
      0 0 25px @glow,
      0 0 35px @glow;
  }
  80% {
    opacity: 0.5;
  }
  85% {
    opacity: 0.4;
  }
  86% {
    opacity: 0.45;
  }
  87% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.3;
  }
  95% {
    opacity: 0.4;
  }
  96% {
    opacity: 0.65;
  }
  97% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
    text-shadow:
      2px 2px 5px @glow,
      0 0 10px @glow,
      0 0 15px @glow,
      0 0 25px @glow,
      0 0 35px @glow;
  }
}
