@title-bg-color: rgba(241, 239, 232, 0.255);
@text-btn: linear-gradient(90deg, #e0a735, #f7e062, #876624);

@bg-image: url("../../assets/brique-app.png");
@box-shadow:
  -2px -5px 0px rgba(112, 107, 100, 0.875),
  inset 20px -20px 10px rgba(36, 3, 44, 0.365),
  inset -10px 10px 10px rgba(6, 167, 185, 0.792),
  inset 10px -10px 10px rgba(210, 4, 142, 0.891),
  inset -1000px 20px 50px rgba(163, 172, 176, 0.615);

@gillItalic: "Gill-Sans-Italic", sans-serif;
@gill: "Gill-Sans", sans-serif;
@early: "Early", sans-serif;
@labo: "Labo", sans-serif;
@pretendo: "Pretendo", sans-serif;
@merriweather: "Merriweather", sans-serif;
@lavigne: "Lavigne", sans-serif;

@allW: 263px;
@rotate: -29deg;

@b: black;
@w: white;
@g: #808080;
@gLight: #9b9a9a;

@reflect: #dadada;
@reflectLight: #fcfef9;
@reflectDark: #969494;

@gameboyColor: #cbcbcb;

@BtnLight: #e8e7e6;
@BtnDark: #a0a09f;

@textBrand: #3a2066;
@reliefColor: #cfcfcf;

@bottomLineScreen: #221d30;
@topLineScreen: #6f244f;
@textGColor: #d8d7e1;

@line: #dbd5ce;
@lineLight: #cccccc;
@lineDark: #b7b7b7;
@lineTop: #888787;
@lineMiddle: #cccccc;
@lineBottom: #b7b7b7;

@glass: #736b82;
@glassLight: #b9b8c3;
@glassDark: #939098;

@screenOnLight: #c8c7a9;
@screenOnDark: #28250f;
@screenOff: #82891a;
@screenOffLight: #82600f;
@screenOffDark: #212009;

@switch: #c8c4c5;
@switchLight: #d9d5da;
@switchDark: #a69999;

@pinkBtn: #a21952;
@pinkBtnLight: #dcb2be;
@pinkBtnDark: #220811;
@pinkBtnTransform: rgb(13 1 1);

@menuBtn: #55565b;
@menuBtnLight: #6f7075;
@menuBtnDark: #31303a;
@menuBtnShadow: #0a0a0a;

@speaker: #524e4c;
@speakerLight: #f6f0ede8;
@speakerDark: #1a0b0a;
@speakerCorner: #f6f0ed79;

@menu: #a99e9e;
@menuLight: #d2d0d3;
@menuDark: #6d6d70;

@keyframes title {
  0% {
  }
  100% {
    top: 50%;
  }
}

@keyframes batteryOn {
  0% {
    background: #67534d;
  }
  100% {
    background: #f74f2f;
  }
}

@keyframes switchOn {
  0% {
    left: 30px;
  }
  100% {
    left: 35px;
  }
}

@keyframes fall-left {
  0% {
    transform: translateY(-300%) translateX(57px);
  }
  30%,
  60% {
    transform: translateY(-51%) translateX(57px);
  }
  100% {
    transform: translateY(-50%) translateX(48px);
  }
}

@keyframes fall-right {
  0% {
    transform: translateY(-300%) translateX(-55px);
  }
  30%,
  60% {
    transform: translateY(-51%) translateX(-55px);
  }
  100% {
    transform: translateY(-50%) translateX(-40px);
  }
}

@keyframes rise {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(-26%);
  }
}
